/* Page Styling */
* {
outline: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
background: #fff;
color: #000;
margin: 0;
padding: 0;
font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: normal;
}

/* Text Styling */
a {
color: #D44354;
text-decoration: none;
}
a:hover {
color: #76AFBA;
}
h1, h2, h3, h4, h5, h6 {
color: #000;
padding: 0;
margin: 0 0 20px 0;
line-height: 1.3em;
clear: both;
}
h1 {
background: #436182;
margin-bottom: 30px;
padding: 10px;
color: #fff;
font-size: 32px;
}
h2 {
font-size: 28px;
}
h3 {
margin-top: 30px;
font-size: 20px;
color: #D44354;
}
h4 {
font-size: 16px;
color: #3793e6;
}
h5 {
font-size: 14px;
}
h6 {
font-size: 12px;
}
p {
line-height: 1.7em;
margin: 0 0 20px 0;
}
strong {
padding: 0 4px;
background: #eee;
font-weight: normal;
}
em {
color: #436182;
font-weight: bold;
font-style: normal;
}
small {
font-size: xx-small;
line-height: 1em;
}
sup {
font-size: xx-small;
vertical-align: top;
line-height: 1em;
} 
sub {
font-size: xx-small;
vertical-align: bottom;
line-height: 1em;
}
::selection {
color: #fff;
background: #D44354;
}
::-moz-selection {
color: #fff;
background: #D44354;
}

/* List Styling */
ol {
list-style-type: decimal;
padding: 0;
margin: 0 0 20px 0;
}
ul {
list-style-type: square;
padding: 0;
margin: 0 0 20px 0;
}
li {
margin: 0 0 15px 20px;
line-height: 1.5em;
}
li > ul,
li > ol {
margin: 12px 0;
}
li:last-child {
margin-bottom: 0;
}

/* Other Styling */
img {
max-width: 100%;
height: auto;
border: 1px solid #000000;
margin: 10px 0;
}
object,
embed,
video,
iframe {
max-width: 100%;
}
cite {
font-style: italic;
}
hr {
background: #eee;
border: 0;
clear: both;
width: 100%;
height: 1px;
padding: 0;
margin: 40px 0;
position: relative;
}
pre {
color: #000;
background: #F3F2E8;
padding: 10px 25px;
margin: 5px 0 20px 0;
font-family: "Courier New";
overflow: auto;
font-size: 14px;
line-height: 1.7em;
white-space: pre;
white-space: pre-wrap;
word-wrap: break-word;
}
code {
color: #000;
background: #F3F2E8;
padding: 3px 5px;
margin: 5px 0 20px 0;
font-family: "Courier New";
font-size: 14px;
line-height: 1.7em;
}
blockquote {
font-size: 16px;
margin: 5px 20px 10px 20px;
padding: 10px 0 5px 25px;
border-left: 3px solid #eee;
overflow: hidden;
}
mark {
padding: 3px 5px;
border: 1px solid #eee;
background: #fdfdfd;
color: #D44354;
font-weight: bold;
}
ins {
text-decoration: none;
}
dl {
line-height: 1.7em;
margin-bottom: 20px;
}
dd {
margin-bottom: 10px;
}
dt {
font-weight: bold;
}

/* Page Wrapper */
#page-wrapper {
width: 100%;
margin: 0 auto;
padding: 0 30px;
overflow: hidden;
}

/* Left Column */
#left-col {
float: left;
width: 30%;
padding: 30px;
border-right: 1px solid #eee;
}
#left-col ul {
list-style-type: none;
}
#left-col ul li {
margin: 0 0 5px 0;
font-weight: bold;
}
#left-col ul ul {
padding-left: 20px;
font-size: 12px;
}
#left-col ul ul li {
font-weight: normal;
}
.title {
margin-bottom: 10px;
padding: 0;
background: none;
color: #000;
font-size: 26px;
}
.last-updated {
padding-bottom: 20px;
font-size: 12px;
border-bottom: 1px solid #eee;
}

/* Right Column */
#right-col {
float: right;
width: 70%;
padding: 30px;
background: #fff;
}
#right-col ol {
padding-left: 20px;
}
#right-col ul {
padding-left: 20px;
}

/* Highlight */
.highlight {
padding: 10px 15px;
background: #f8f8f8;
border-left: 5px solid #e58100;
}

/* Large Highlight */
.large-highlight {
padding: 10px 15px;
background: #EEF2F3;
margin-bottom: 10px;
}
.large-highlight .highlight-header {
font-weight: bold;
margin-bottom: 5px;
}
.large-highlight pre {
background: transparent;
color: #375769;
padding: 0;
margin: 10px 0;
font-size: 11px;
}
#left-col .large-highlight ul li {
font-weight: normal;
margin-top: 10px;
padding-top: 10px;
border-top: 1px solid #ccc;
}

/* Changelog */
.new {
color: #e58100;
font-weight: bold;
}
.removed {
color: #73a900;
font-weight: bold;
}
.moved {
color: #41abef;
font-weight: bold;
}