


.ewd-urp-review-form {
    position: absolute;
    background: white;
    border: 3px solid #262626;
    z-index: 9999999;
}

.ewd-urp-hidden {
  display:none !important;
}

.ewd-urp-clear {
  clear:both;
}

.ewd-urp-review-div {
	margin-top: 48px;
}

.urp-required {
	display: block;
	color: red;
}

.ewd-urp-review-score {
	float:left;
	width: auto;
	min-height: 23px;
	padding-right: 10px;
}
.ewd-urp-review-score-number {
	float: left;
	width: auto;
	font-size: 1.3em;
	font-weight:600;
}
.ewd-urp-review-title {
	display: inline;
	min-width: 200px;
    font-size: 1.2em;
    font-weight: 600;
    color: #111;
}

.ewd-urp-author-date {
	    margin: 5px 0;
	    color: #555;
}

.ewd-urp-review-body {
 color: #111;
   font-size: 1em;
}

.ewd-urp-content-hidden {
    display: none;
}

.ewd-urp-expandable-title {
    cursor: pointer;
}

.ewd-urp-summary-score-value {
    width: auto;
    float: left;
    padding-right: 6px;
}

.ewd-urp-summary-score-count {
    width: auto;
    float: left;
    padding-left: 6px;
}

.ewd-urp-login-option {
    margin-top: 4px;
    margin-bottom: 10px;
}

#ewd-urp-facebook-login {
    margin-left: -6px;
}

.ewd-urp-woocommerce-tab-divider {
    border-bottom:4px solid #1a1a1a;
    width: 100%;
    padding-top: 1.8em;
    clear: both;
}
.ewd-urp-wc-tab {
	display: none;
}
.ewd-urp-wc-active-tab {
	display: block;
}
.ewd-urp-wc-tab-title {
	width: auto;
	float: left;
	cursor: pointer;
	clear: none;
	margin-right: 36px;
}

.ewd-urp-submit-review-toggle {
	cursor: pointer;
}

/*************FILTERING*************************/

.ewd-urp-filtering-label {
	margin-right: 12px;
}
.ewd-urp-review-score-filter {
	height: 16px;
	width: 400px;
}

/**************SUBMIT REVIEW FORM **************/
.ewd-urp-review-form .form-field, .ewd-urp-review-form .ewd-urp-meta-field, .ewd-urp-submit, .ewd-urp-captcha-response, .ewd-urp-captcha-div{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    float: left; /*PChanges*/
    width: 100%; /*PChanges*/
}
.ewd-urp-submit{
	text-align: center; /*PChanges*/
}

.button-primary{
	margin: 0px;
	float: none;

}

.ewd-urp-captcha-div {
    padding: 0 10px;
}

.ewd-urp-review-form label{
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    padding: 10px;

}

.ewd-urp-review-form input[type='text'], .ewd-urp-review-form input[type='email'], .ewd-urp-review-form input[type='URL'] {
    width: 45%;
    /* padding: .5em .6em; */
    display: inline-block;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
}
.ewd-urp-review-form textarea{
    width: 45%;
    /* padding: .5em .6em; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
}
.ewd-urp-review-explanation {
	font-style:italic;
	margin:2px 0;
}
.ewd-urp-dropdown-score-input {
	max-width: 60px;
}

@media only screen and (max-width: 550px){
.ewd-urp-review-form label{
	margin-bottom: .1em;
    text-align: left;
    display: block;
    width: 100%;
   
}
	.ewd-urp-review-form input[type='text'], .ewd-urp-review-form input[type='email'], .ewd-urp-review-form input[type='URL'], .ewd-urp-review-form textarea{
    margin-bottom: .3em;
    display: inline-block;
    width: 75%;
		}
.ewd-urp-review-explanation {
	text-align: left;
	}
}


/*******************************************
THUMBNAIL VIEW STYLING
*******************************************/
.ewd-urp-thumbnail-review {
	position: relative;
	float: left;
	width: 270px;
	margin-right: 30px;
	min-height: 480px;
}
.ewd-urp-reviews-container.ewd-urp-thumbnail-masonry .ewd-urp-thumbnail-review {
	min-height: 0;
}

.ewd-urp-thumbnail-review .ewd-urp-review-score, .ewd-urp-thumbnail-review .ewd-urp-review-link, .ewd-urp-thumbnail-review .ewd-urp-review-title {
	width: 100%;
}
.ewd-urp-thumbnail-review .ewd-urp-review-score-number {
	width: auto;
}
.ewd-urp-thumbnail-review .ewd-urp-category-field {
	display: none;
}

/* CLEARING SO SUMMARY DOESN'T FLOAT UP */
.ewd-urp-summary-statistics-div {
	margin:10px 0;
	clear: both;
}


/*******************************************
IMAGE REVIEW STYLING
*******************************************/
.ewd-urp-image-review {
	position: relative;
	float: left;
	width: 270px;
	margin-right: 30px;
	height: auto;
}

.ewd-urp-image-review img.imageReviewImage {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
}
.ewd-urp-image-review .ewd-urp-review-score {
  position: absolute;
  top: 0;
  right: 0;
  height: 28px;
  padding: 0 10px !important;
  line-height: 1.85;
  background: #34ADCF;
}
.ewd-urp-image-review .ewd-urp-review-score.imageStyleScoreBelow {
  clear: both;
  position: relative;
  float: left;
  top: auto;
  right: auto;
  height: auto;
  width: 100%;
  padding: 8px 0 !important;
  margin-bottom: 3px;
  line-height: 1;
  text-align: center;
}
.ewd-urp-image-review .ewd-urp-review-score-number {
  font-size: .9em;
}
.ewd-urp-image-review .ewd-urp-review-score.imageStyleScoreBelow .ewd-urp-review-score-number {
  width: 100%;
  text-align: center;
}
.ewd-urp-image-review .ewd-urp-review-graphic {
	margin-top: 4px;
  width: 100px;
  color: #fff;
}
.ewd-urp-image-review .ewd-urp-review-link {
  clear: both;
  position: relative;
  float: left;
  width: 100%;
  margin: 0 !important;
  padding: 8px 0;
  text-align: center;
  background: #34ADCF;
  box-shadow: none;
}
.ewd-urp-image-review .ewd-urp-review-title {
	width: 100%;
}
.ewd-urp-image-review .ewd-urp-author-date {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 5px;
}
.ewd-urp-image-review .ewd-urp-review-body {
  margin-top: 8px;
}

.ewd-urp-image-review .ewd-urp-category-field {
	display: none;
}

/* CLEARING SO SUMMARY DOESN'T FLOAT UP */
.ewd-urp-summary-statistics-div {
	margin:10px 0;
	clear: both;
}



/*******************************************
REVIEW SCORE BARS
*******************************************/
.ewd-urp-summary-score-value {
	width: 24px;
}
.ewd-urp-standard-summary-graphic-sub-group {
	position: relative;
	float: left;
	width: 160px;
	height: 16px;
	margin-top: 6px;
	background: #ececec;
}
.ewd-urp-standard-summary-graphic-full-sub-group {
	position: relative;
	float: left;
	background: #ffc733;
	width: 0px;
	height: 100%;
}
.ewd-urp-summary-percentage-graphic {
	position: relative;
	float: left;
	width: 160px;
	height: 16px;
	margin-top: 6px;
	background: #ececec;
}
.ewd-urp-summary-percentage-graphic-full {
	position: relative;
	float: left;
	background: #ffc733;
	width: 0px;
	height: 100%;
}

.ewd-urp-summary-clickable {
	cursor: pointer;
}


.ewd-urp-review-graphic {
	margin-top: 8px;
}


/*******************************************
PAGINATION
*******************************************/
.ewd-urp-review-list .next-page, .ewd-urp-review-list .prev-page, .ewd-urp-review-list .last-page, .ewd-urp-review-list .first-page {
	text-decoration: none;
	border: 1px solid #ccc;
	padding: 2px 7px;
	margin: 0 1px;
	box-shadow: none;
	color: #999;
	transition: background-color .25s, color .25s;
}
.ewd-urp-review-list .next-page:hover, .ewd-urp-review-list .prev-page:hover, .ewd-urp-review-list .last-page:hover, .ewd-urp-review-list .first-page:hover {
	background-color: #ccc;
	color: #fff;
}
.ewd-urp-page-control {
	cursor: pointer;
}


/*******************************************
IMAGES and VIDEO
*******************************************/
.ewd-urp-review-image img{
	max-height: 160px;
	width: auto;
}

.ewd-urp-review-image.ewd-urp-image-Thumbnail img{
	max-height: 120px;
}

.ewd-urp-review-image iframe {
	margin-top: 16px;
	margin-bottom: 16px !important;
}
.ewd-urp-thumbnail-review iframe {
	margin-top: 4px;
	margin-bottom: 0 !important;
}


/*******************************************
STAR INPUTS
*******************************************/
.ewd-urp-stars-input {
	position: relative;
	float: left;
	margin-top: 8px;
}
.ewd-urp-star-input {
	width: 20px;
	float: left;
	height: 20px;
	margin-right: 10px;
	background: none;
	color: #e6b800;
	font-size: 1.2em;
	cursor: pointer;
}
.ewd-urp-star-input:before {
	content: "\f154";
	font-family: "dashicons";
}

.ewd-urp-star-input-filled:before {
	content: "\f155";
	font-family: "dashicons";
}

.submitReviewLabels {
	position: relative;
	float: left;
}
.ewd-urp-meta-field, .ewd-urp-captcha-div, .ewd-urp-captcha-response {
	clear: both;
	width: 100%;
}


/*******************************************
CHARACTERS REMAINING TEXT SUBMIT REVIEW FORM
*******************************************/
.ewd-urp-review-character-count {
	font-style: italic;
}
.charactersRemainingNumber {
	font-size: 1.2rem;
	font-weight: 700;
}


/*******************************************
KARMA
*******************************************/
.ewd-urp-karma-control {
	position: relative;
	float: left;
	cursor: pointer;
	color: #666;
}
.ewd-urp-karma-control:hover {
	color: #000;
}
.ewd-urp-karma-score {
	position: relative;
	float: left;
	margin: 0 4px;
}
.ewd-urp-review-link {
	margin-left: 12px;
}
.ewd-urp-karma-up::before {
	content: '\f343';
	font-family: "dashicons";
}
.ewd-urp-karma-down::before {
	content: '\f347';
	font-family: "dashicons";
}



/*******************************************
RESTYLING and FILTERING
*******************************************/
.ewd-urp-category-field {
	margin-bottom: 4px;
	clear: both;
	position: relative;
	float: left;
	width: 100%;
}
.ewd-urp-category-field:nth-of-type(2n+1) {
	background: transparent;
}
.ewd-urp-category-score-label, .ewd-urp-category-explanation-label {
	float: left;
	font-weight: bold;
	margin-right: 6px;
	clear: both;
}
.ewd-urp-category-explanation-text {
	clear: both;
}
.ewd-urp-summary-statistics-header {
	margin-top: 48px;
	margin-bottom: 12px;
	border-top: none;
	padding-top: 0;
}
.ewd-urp-summary-product-name {
	font-weight: bold;
	font-size: 1.1em;
}
.ewd-urp-author {
	font-weight: bold;
}
.ewd-urp-review-body {
	color: #353535;
	margin-top: 16px;
}

.ewd-urp-filtering {
	margin-top: 8px;
	margin-bottom: 32px;
}
.ewd-urp-filtering-toggle {
	width: 100px;
	min-width: 120px;
	background: #353535;
	color: #fff;
	padding: 4px 10px 4px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	z-index: 2;
}
.ewd-urp-filtering-toggle:hover {
  background: #555;
}
.ewd-urp-filtering-toggle-downcaret:after {
	font-size: .8em;
	content: " ▼";
}
.ewd-urp-filtering-toggle-upcaret:after {
	font-size: .8em;
	content: " ▲";
}

.ewd-urp-filtering-controls {
	position: relative;
	width: 100%;
	clear: both;
	top: -1px;
	padding: 16px;
	border: 1px solid #ccc;
}
.ewd-urp-filtering-product-name-div {
	/*margin-top: 15px;*/
}
.ewd-urp-filtering-product-name-div:first-of-type {
	margin-top: 0;
}

.ewd-urp-review-score-filter .ui-slider-handle {
	cursor: pointer;
}
.ewd-urp-review-score-filter {
	left: 10px;
	margin-top: 8px;
}

.ewd-rup-reviews-nav {
	position: relative;
	clear: both;
}


/*******************************************
SUMMARY SHORTCODE
*******************************************/
.ewd-urp-review-summaries div.ewd-urp-summary-product-name {
	float: left;
	width: 33%;
	max-width: 350px;
	margin-right: 12px;
}


/*******************************************
REVIEW COMMENTS
*******************************************/
.ewd-urp-review-content li.comment {
	clear: both;
	position: relative;
	float: left;
	list-style-type: none;
	margin-top: 32px;
}


/*******************************************
SUBMIT REVIEW RADIOS AND CHECKBOXES
*******************************************/
.ewd-urp-submit-review-radio-checkbox-container {
  position: relative;
  float: left;
  margin-bottom: 6px;
}
.ewd-urp-submit-review-radio-checkbox-each {
  clear: both;
  position: relative;
  margin-bottom: 4px;
}



/*******************************************
INAPPROPRIATE FLAGS
*******************************************/
.ewd-urp-flag-inappropriate {
  display: none;
	height:18px;
	width: 18px;
	background: #5f7;
	float: right;
	cursor: pointer;
	margin-left: 8px;
	margin-top: 10px;
}
.ewd-urp-flag-inappropriate.ewd-urp-content-flagged {
	background:#a03;
}

.ewd-urp-image-review .ewd-urp-flag-inappropriate {
    position: relative;
    margin-left: 0;
    margin-top: 6px;
}
.ewd-urp-image-review .ewd-urp-review-product-name {
    position: relative;
    float: left;
}


/*******************************************
vertical align text to circle graph
*******************************************/
.ewd-urp-review-link {
position: relative;
float: left;
}

.form-field input[type="file"]{ /*PChanges*/
display: inline-block !important;
}

.ewd-urp-image-review .ewd-urp-review-graphic {/*PChanges*/
width: 100%;
}

.ewd-urp-submit label{
	display: none;
}


