/*--------------------------------------------------------------------------------------

1 - bbPress

--------------------------------------------------------------------------------------*/

/* General ************************************/

.gp-theme .bbp-breadcrumb {
line-height: 18px;
}
.gp-theme .bbp-breadcrumb a:hover {
text-decoration: underline;
}
.gp-theme .gp-entry-header.gp-bbp-entry-header {
margin-bottom: 10px;
}
.gp-theme #bbpress-forums {
margin-bottom: 0;
overflow: visible;
}
.gp-theme #bbpress-forums div.bbp-search-form {
z-index: 1;
position: relative;
}
.gp-theme #bbp-search-form {
overflow: hidden;
position: relative;
margin-bottom: 20px;
}
.gp-theme #bbpress-forums #bbp-search-form #bbp_search {
position: relative;
float: left;
width: 100%;
padding: 8px 95px 8px 10px;
border-right: 0 !important;
border-radius: 4px;
border-radius: 4px;
}
.gp-theme #bbpress-forums #bbp-search-form #bbp_search_submit {
position: absolute;
top: 0;
right: 0;
padding: 9.5px 15px;
height: 100%;
border: 0;
cursor: pointer;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}
.gp-theme #bbpress-forums .bbp-forums > .bbp-header,
.gp-theme #bbpress-forums .bbp-forums > .bbp-footer {
display: none;
}
.gp-theme #bbpress-forums .bbp-forums-list {
float: left;
border-top: 0 !important;
}
.gp-theme #bbpress-forums .bbp-forums-list li.odd-forum-row,
.gp-theme #bbpress-forums .bbp-forums-list li.even-forum-row {
overflow: hidden;
display: block;
font-size: 11px;
width: 100%;
}
.gp-theme #bbpress-forums .bbp-forums-list .bbp-forum .bbp-forum-link {
display: block;
margin-bottom: 10px;
font-size: 15px;
line-height: 20px;
font-weight: 400;
}
.gp-theme #bbpress-forums .bbp-forums-list .bbp-forum .bbp-forum-link:hover {
text-decoration: underline;
}
.gp-theme #bbpress-forums .bbp-forums-list .bbp-forum .topic-reply-counts {
display: block;
float: left;
text-align: center;
}
.gp-theme #bbpress-forums .bbp-template-notice.info {
display: none;
}
.gp-theme .bbp-pagination {
margin-bottom: 20px;
}
.gp-theme .bbp-pagination-links a,
.gp-theme .bbp-pagination-links span.current {
background: 0;
border: 0;
}
.gp-theme .bbp-pagination-links a:hover,
.gp-theme .bbp-pagination-links span.current {
background: 0;
border: 0;
}
.gp-theme #subscription-toggle {
float: right;
}
.gp-theme #bbpress-forums .gp-forum-home.bbp-forums .bbp-has-subforums .bbp-forum-info > .bbp-forum-title,
.gp-theme #bbpress-forums .bbp-topics .bbp-header,
.gp-theme #bbpress-forums .bbp-replies .bbp-header,
.gp-theme #bbpress-forums .bbp-search-results .bbp-header {
display: block;
padding: 15px 20px;
font-weight: 400;
font-size: 16px;
border: 0;
}
.gp-theme #bbpress-forums .bbp-forums-list,
.gp-theme #bbpress-forums .bbp-forums .bbp-body .bbp-forum-info {
width: 100%;
margin: 0 0 0 0px;
padding-left: 0px;
}
.gp-theme #bbpress-forums ul.bbp-lead-topic,
.gp-theme #bbpress-forums ul.bbp-topics,
.gp-theme #bbpress-forums ul.bbp-forums,
.gp-theme #bbpress-forums ul.bbp-replies,
.gp-theme #bbpress-forums ul.bbp-search-results {
border: 0;
}
.gp-theme #bbpress-forums p.bbp-topic-meta {
margin: 0;
line-height: 1;
font-size: 12px;
line-height: 20px;
font-weight: 400;
}
.gp-theme #bbpress-forums div.bbp-topic-author a.bbp-author-name,
.gp-theme #bbpress-forums div.bbp-reply-author a.bbp-author-name {
font-weight: 400;
width: 100%;
padding: 0 12px;
margin: 0;
}
.gp-theme #bbpress-forums div.bbp-forum-author .bbp-author-name + br,
.gp-theme #bbpress-forums div.bbp-topic-author .bbp-author-name + br,
.gp-theme #bbpress-forums div.bbp-reply-author .bbp-author-name + br {
display: none;
}
.gp-theme #bbpress-forums div.bbp-forum-author .bbp-author-role, 
.gp-theme #bbpress-forums div.bbp-topic-author .bbp-author-role, 
.gp-theme #bbpress-forums div.bbp-reply-author .bbp-author-role {
font-style: normal;
font-weight: bold;
margin: 0 12px;
border-radius: 4px;
line-height: 25px;
display: inline-block;
padding: 0 10px;
}
.gp-theme #bbpress-forums li.bbp-footer {
display: none;
}

/* Main forum page ************************************/

.gp-theme .gp-forum-home .gp-entry-header.gp-bbp-entry-header {
margin-bottom: 20px;
}
.gp-theme #bbpress-forums .gp-forum-home ul.bbp-forums {
border: 0;
}
.gp-theme #bbpress-forums .gp-forum-home.bbp-forums .bbp-forum-info > .bbp-forum-title {
display: block;
padding: 15px 20px;
font-weight: 400;
font-size: 16px;
}
.gp-theme #bbpress-forums .gp-forum-home div.odd,
.gp-theme #bbpress-forums .gp-forum-home ul.odd {
background-color: transparent;
}
.gp-theme .gp-forum-home .bbp-forum-topic-count,
.gp-theme .gp-forum-home .bbp-forum-freshness {
display: none;
}
.gp-theme #bbpress-forums .gp-forum-home li.bbp-body {
border: 0;
}
.gp-theme #bbpress-forums .gp-forum-home li.bbp-body ul.forum.bbp-has-subforums {
border-top: 0 !important;
padding: 0;
margin-bottom: 20px;
}
.gp-theme #bbpress-forums .gp-forum-home li.bbp-body ul.forum {
margin-bottom: 10px;
}
.gp-theme #bbpress-forums .gp-forum-home li.bbp-body ul:last-child {
margin-bottom: 0;
}
.gp-theme #bbpress-forums .gp-forum-home .bbp-forums-list li.odd-forum-row,
.gp-theme #bbpress-forums .gp-forum-home .bbp-forums-list li.even-forum-row {
float: left;
height: auto;
border-top: 0 !important;
}
.gp-theme #bbpress-forums .gp-forum-home .bbp-forums-list .bbp-forum-title-container  {
width: 56%;
display: block;
float: left;
padding: 20px;
font-size: 12px;
line-height: 16px;
}
.gp-theme #bbpress-forums .gp-forum-home .bbp-forums-list .bbp-forum .topic-reply-counts {
width: 18%;
height: auto;
padding: 20px;
font-size: 12px;
line-height: 20px;
font-weight: 400;
}
.gp-theme #bbpress-forums .bbp-forums-list .freshness-forum-link {
display: block;
float: left;
width: 26%;
height: auto;
padding: 20px;
font-size: 12px;
line-height: 20px;
font-weight: 400;
}
.gp-theme .bbp-forums-list .bbp-forum .last-posted-topic-title,
.gp-theme .bbp-forums-list .bbp-forum .last-posted-topic-user,
.gp-theme .bbp-forums-list .bbp-forum .last-posted-topic-time {	
overflow: hidden;
height: auto;
float: left;
margin-right: 2px;
}
.gp-theme .gp-forum-home .bbp-author-avatar {
display: none;
}
.gp-theme #bbpress-forums div.bbp-forum-header,
.gp-theme #bbpress-forums div.bbp-topic-header {
background-color: transparent;
border-top-width: 0 !important;
border-left-width: 0 !important;
border-right-width: 0 !important;
}
.gp-theme #bbpress-forums div.bbp-reply-header {
background-color: transparent;
border-left-width: 0 !important;
border-right-width: 0 !important;
}
.gp-theme #bbpress-forums div.bbp-forum-title h3,
.gp-theme #bbpress-forums div.bbp-topic-title h3,
.gp-theme #bbpress-forums div.bbp-reply-title h3 {
margin: 0;
font-size: 12px;
}

/* Sub forum page ************************************/

.gp-theme #bbpress-forums li.bbp-header ul {
font-size: 13px;
}
.gp-theme #bbpress-forums li.bbp-body ul.forum,
.gp-theme #bbpress-forums li.bbp-body ul.topic {
border-top: 0 !important;
padding: 0;
}
.gp-theme.forum .bbp-forum-info {
display: block;
float: left;
width: 56% !important;
height: auto;
padding: 20px !important;
}
.gp-theme.forum #bbpress-forums .bbp-forums .bbp-forum-info > .bbp-forum-title {
display: block;
background: none !important;
margin-bottom: 10px;
font-size: 15px;
line-height: 20px;
font-weight: 400;
padding: 0;
}
.gp-theme.forum #bbpress-forums .bbp-forums .bbp-forum-info > .bbp-forum-title:hover {
text-decoration: underline;
}
.gp-theme #bbpress-forums .bbp-forum-info .bbp-forum-content {
font-size: 12px;
line-height: 16px;
font-weight: 300;
margin: 0;
}
.gp-theme #bbpress-forums .bbp-forum-info .bbp-forum-content p {
margin: 0;
}
.gp-theme.forum .bbp-forum-topic-count {
display: block;
float: left;
padding: 10px;
text-align: center;
width: 18%;
padding: 20px;
font-size: 12px;
line-height: 20px;
font-weight: 400;
}
.gp-theme.forum .bbp-forum-freshness {
display: block;
float: left;
padding: 20px;
width: 26%;
font-size: 12px;
line-height: 20px;
font-weight: 400;
}
.gp-theme.forum #bbpress-forums .bbp-topic-freshness-author .avatar {
display: none;
}
.gp-theme.forum #bbpress-forums .bbp-forum-info .bbp-forums-list {
margin-top: 20px;
border: 0;
margin-left: 20px;
}
.gp-theme.forum #bbpress-forums .bbp-forum-info .bbp-forums-list li {
background: transparent;
margin-bottom: 10px;
}
.gp-theme.forum #bbpress-forums .bbp-forum-info .bbp-forums-list li:last-child {
margin-bottom: 0;
}
.gp-theme.forum #bbpress-forums .bbp-forum-info .bbp-forums-list .bbp-forum-link {
margin-bottom: 0;
}
.gp-theme.forum #bbpress-forums .bbp-forum-info .bbp-forums-list .topic-reply-counts,
.gp-theme.forum #bbpress-forums .bbp-forum-info .bbp-forums-list .freshness-forum-link {
display: none;
}

/* Topics page ************************************/

.gp-theme #bbpress-forums .bbp-topics .bbp-header {
border-top: 0 !important;
}
.gp-theme #bbpress-forums .bbp-topics .forum-titles .bbp-topic-title {
width: 56%;
}
.gp-theme #bbpress-forums .bbp-topics .bbp-body .bbp-topic-title {
width: 56%;
line-height: 20px;
}
.gp-theme #bbpress-forums .bbp-topics li.bbp-body {
border-top-width: 0 !important;
}
.gp-theme #bbpress-forums .bbp-topics .bbp-body .bbp-topic-title,
.gp-theme #bbpress-forums .bbp-topics .bbp-body .bbp-topic-voice-count,
.gp-theme #bbpress-forums .bbp-topics .bbp-body .bbp-topic-reply-count,
.gp-theme #bbpress-forums .bbp-topics .bbp-body .bbp-topic-freshness {
padding: 20px;
}
.gp-theme #bbpress-forums .bbp-topics .bbp-topic-permalink {
font-size: 15px;
font-weight: 400;
}
.gp-theme #bbpress-forums .bbp-topics .bbp-topic-permalink:hover {
text-decoration: underline;
}
.gp-theme #bbpress-forums .bbp-topics .bbp-body .bbp-topic-title .bbp-topic-meta {
font-weight: 300;
font-size: 11px;
line-height: 1;
margin-top: 5px;
}
.gp-theme #bbpress-forums .bbp-topics .bbp-body .bbp-topic-voice-count,
.gp-theme #bbpress-forums .bbp-topics .bbp-body .bbp-topic-reply-count {
font-size: 12px;
line-height: 20px;
font-weight: 400;
width: 9%;
}
.gp-theme #bbpress-forums .bbp-topics .bbp-body .bbp-topic-freshness {
font-size: 12px;
line-height: 20px;
font-weight: 400;
width: 26%;
}
.gp-theme #bbpress-forums .bbp-topics .bbp-author-avatar {
display: none;
}
.gp-theme #bbpress-forums .bbp-topic-revision-log .avatar {
display: none;
}
.gp-theme #bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
border-top-left-radius: 0;
border-top-right-radius: 0;
border-top-width: 0;
}

/* Replies page ************************************/

#bbpress-forums li.bbp-header .bbp-search-author, 
#bbpress-forums li.bbp-footer .bbp-search-author, 
#bbpress-forums li.bbp-header .bbp-forum-author, 
#bbpress-forums li.bbp-footer .bbp-forum-author, 
#bbpress-forums li.bbp-header .bbp-topic-author, 
#bbpress-forums li.bbp-footer .bbp-topic-author, 
#bbpress-forums li.bbp-header .bbp-reply-author, 
#bbpress-forums li.bbp-footer .bbp-reply-author {
width: 80px;
font-size: 13px;
}
#bbpress-forums li.bbp-header .bbp-search-content, 
#bbpress-forums li.bbp-footer .bbp-search-content, 
#bbpress-forums li.bbp-header .bbp-forum-content, 
#bbpress-forums li.bbp-footer .bbp-forum-content, 
#bbpress-forums li.bbp-header .bbp-topic-content, 
#bbpress-forums li.bbp-footer .bbp-topic-content, 
#bbpress-forums li.bbp-header .bbp-reply-content, 
#bbpress-forums li.bbp-footer .bbp-reply-content {
margin-left: 110px;
font-size: 13px;
}
.gp-theme li.bbp-header div.bbp-reply-content span#subscription-toggle,
.gp-theme li.bbp-header div.bbp-reply-content span#favorite-toggle {
font-size: 12px;
}
.gp-theme #bbpress-forums .bbp-replies li.bbp-body {
border-top-width: 0 !important;
}
.gp-theme #bbpress-forums .bbp-replies .bbp-body div.bbp-reply-content {
font-size: 14px;
line-height: 26px;
}
.gp-theme span.bbp-admin-links a:hover {
text-decoration: underline;
}
.gp-theme #bbpress-forums div.bbp-reply-content blockquote {
margin: 15px 0;
padding: 20px 50px 20px 20px;
} 
.gp-theme #bbpress-forums div.bbp-reply-content blockquote,
.gp-theme #bbpress-forums div.bbp-reply-content blockquote a {
line-height: 22px;
font-size: 14px;
}

/* Search results page ************************************/

.gp-theme #bbpress-forums .bbp-search-results div.bbp-forum-header, 
.gp-theme #bbpress-forums .bbp-search-results div.bbp-topic-header {
border-top-width: 1px !important;
}
.gp-theme #bbpress-forums .bbp-search-results div.bbp-forum-content {
margin-left: 12px;
}
.gp-theme #bbpress-forums .bbp-search-results .bbp-body div.bbp-forum-content,
.gp-theme #bbpress-forums .bbp-search-results .bbp-body div.bbp-topic-content,
.gp-theme #bbpress-forums .bbp-search-results .bbp-body div.bbp-reply-content {
font-size: 14px;
line-height: 26px;
}
.gp-theme #bbpress-forums .bbp-search-results .bbp-forum-header .bbp-meta,
.gp-theme #bbpress-forums .bbp-search-results .bbp-topic-header .bbp-meta,
.gp-theme #bbpress-forums .bbp-search-results .bbp-reply-header .bbp-meta {
line-height: 1;
margin-bottom: 5px;
}
.gp-theme #bbpress-forums .bbp-search-results .bbp-topic-title .bbp-topic-title-meta {
margin-top: 5px;
line-height: 1;
}


/*--------------------------------------------------------------------------------------

2 - Widgets

--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------
bbPress Forum/Topic/Replies Lists
--------------------------------------------------------------*/

.gp-theme .widget_display_forums li,
.gp-theme .widget_display_topics li,
.gp-theme .widget_display_replies li {
font-size: 14px;
line-height: 19px;
margin-top: 20px;
}
.gp-theme .widget .bbp-forum-title,
.gp-theme .widget bbp-reply-topic-title {
font-weight: 500;
font-size: 14px;
line-height: 19px;
}
.gp-theme .bbp-author-name {
margin-left: -2px;
}
.gp-theme .widget .bbp-author-avatar {
display: none;
}
.gp-theme .widget_display_replies ul li div,
.gp-theme .widget_display_topics ul li div {
font-size: 11px;
line-height: 1;
margin-top: 2.5px;
}

/*--------------------------------------------------------------
bbPress Search Forums Form
--------------------------------------------------------------*/

.gp-theme #bbp_search {
float: left;
}

/*--------------------------------------------------------------
bbPress Statistics
--------------------------------------------------------------*/

.gp-theme .widget_display_stats {
font-size: 20px;
padding-bottom: 0;
}
.gp-theme .widget_display_stats dt {
float: left;
clear: left;
margin-bottom: 20px;
}
.gp-theme .widget_display_stats dd {
float: right;
clear: right;
margin-bottom: 20px;
}
.gp-theme .widget_display_stats dt,
.gp-theme .widget_display_stats strong {
font-weight: 300;  
}


/*--------------------------------------------------------------------------------------

3 - Media Queries

--------------------------------------------------------------------------------------*/

@media only screen and (max-width: 567px) {

	/* General ************************************/

	.gp-theme.gp-responsive #bbpress-forums div.bbp-search-form {
	position: relative;
	width: 100%;
	top: 0;
	right: 0;
	}
	.gp-theme.gp-responsive #bbpress-forums div.bbp-topic-author a.bbp-author-name,
	.gp-theme.gp-responsive #bbpress-forums div.bbp-reply-author a.bbp-author-name {
	padding: 0;
	}
	.gp-theme.gp-responsive #bbpress-forums div.bbp-forum-author .bbp-author-role,
	.gp-theme.gp-responsive #bbpress-forums div.bbp-topic-author .bbp-author-role,
	.gp-theme.gp-responsive #bbpress-forums div.bbp-reply-author .bbp-author-role {
	margin: 0;
	}
		
	/* Main forum page ************************************/

	.gp-theme.gp-responsive #bbpress-forums .gp-forum-home .bbp-forums-list .bbp-forum-title-container,
	.gp-theme.gp-responsive #bbpress-forums .gp-forum-home .bbp-forums-list .bbp-forum .topic-reply-counts,
	.gp-theme.gp-responsive #bbpress-forums .gp-forum-home .bbp-forums-list .freshness-forum-link {
	width: 100%;
	text-align: left;
	}
	.gp-theme.gp-responsive #bbpress-forums .gp-forum-home .bbp-forums-list .bbp-forum-title-container,
	.gp-theme.gp-responsive #bbpress-forums .gp-forum-home .bbp-forums-list .bbp-forum .topic-reply-counts {
	padding-bottom: 0;
	}
	
	/* Sub forum page ************************************/

	.gp-theme.gp-responsive.forum .bbp-forum-info,
	.gp-theme.gp-responsive.forum .bbp-forum-topic-count,
	.gp-theme.gp-responsive.forum .bbp-forum-freshness {
	width: 100% !important;
	text-align: left;
	}
	.gp-theme.gp-responsive.forum .bbp-forum-info,
	.gp-theme.gp-responsive.forum .bbp-forum-topic-count {
	padding-bottom: 0 !important;
	}
	
	/* Topics page ************************************/

	.gp-theme.gp-responsive #bbpress-forums .bbp-topics .bbp-header {
	display: none;
	}
	.gp-theme.gp-responsive #bbpress-forums .bbp-topics li.bbp-body {
	border-top-width: 1px !important;
	}
	.gp-theme.gp-responsive #bbpress-forums .bbp-topics .bbp-body .bbp-topic-title,
	.gp-theme.gp-responsive #bbpress-forums .bbp-topics .bbp-body .bbp-topic-freshness {
	width: 100%;
	text-align: left;
	}
	.gp-theme.gp-responsive #bbpress-forums .bbp-topics .bbp-body .bbp-topic-freshness {
	padding-top: 0;
	}
	.gp-theme.gp-responsive #bbpress-forums .bbp-topics .bbp-body .bbp-topic-title {
	padding-bottom: 0 !important;
	}
	.gp-theme.gp-responsive #bbpress-forums .bbp-topics .bbp-body .bbp-topic-voice-count,
	.gp-theme.gp-responsive #bbpress-forums .bbp-topics .bbp-body .bbp-topic-reply-count {
	display: none;
	}	
	.gp-theme.gp-responsive #bbpress-forums li.bbp-header .bbp-reply-author {
	display: none;
	}
	.gp-theme.gp-responsive #bbpress-forums li.bbp-header .bbp-reply-content {
	margin-left: 0;
	}
		
	/* Topic form ************************************/

	.gp-theme.gp-responsive #bbpress-forums fieldset.bbp-form input {
	width: 100%; 
	}
	.gp-theme.gp-responsive #bbpress-forums div.bbp-the-content-wrapper input {
	width: auto;
	}	

}

@media only screen and (max-width: 480px) {
		
	/* Replies page ************************************/

	.gp-theme #bbpress-forums div.bbp-reply-author {
	margin: -15px 10px 10px;
	min-height: 100px;
	padding-left: 80px;
	position: relative;
	text-align: left;
	width: 100%;
	}

	.gp-theme #bbpress-forums div.bbp-reply-content {
	clear: both;
	margin: 10px;
	padding: 0;
	}

}