@import '../fonts/font-awesome/css/font-awesome.min.css';


/*--------------------------------------------------------------------------------------

1 - Visual Composer

--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------
Element Icons
--------------------------------------------------------------*/

i.vc_element-icon[class*='gp-icon-'] {
background-image: none;
color: #666;
font-size: 28px;
line-height: 1;
font-style: normal;
font-weight: normal;
}
i.vc_element-icon[class*='gp-icon-']:before {
font-family: 'FontAwesome';
-webkit-font-smoothing: antialiased;
}
.gp-icon-advertisement:before {
content: '\f26c';
}
.gp-icon-icon:before {
content: '\f135';
}
.gp-icon-blog:before {
content: '\f009';
}
.gp-icon-button:before {
content: '\f0c8';
}
.gp-icon-portfolio:before {
content: '\f00a';
}
.gp-icon-pricing-table:before {
content: '\f0ce';
}
.gp-icon-team:before {
content: '\f0c0';
}
.gp-icon-testimonial-slider:before {
content: '\f10d';
}
.gp-icon-featured:before {
content: '\f069';
}
.gp-icon-images:before {
content: '\f03e';
}
.gp-icon-news:before {
content: '\f040';
}
.gp-icon-videos:before {
content: '\f03d';
}
.gp-icon-ranking:before {
content: '\f091';
}
.gp-icon-user-rating-box:before {
content: '\f123';
}
.gp-icon-filters:before {
content: '\f0b0';
}

/*--------------------------------------------------------------
Visual Composer Color Picker Option
--------------------------------------------------------------*/

.wpb_edit_form_elements .wp-color-picker {
width: 80px !important;
height: 24px;
}
.wpb_edit_form_elements .wp-picker-clear {
padding-bottom: 0;
height: 24px;
}

/*--------------------------------------------------------------
Visual Composer Other
--------------------------------------------------------------*/

/* VC fix to constrain Text widgets to container width */
.wpb_vc_wp_text.wpb_content_element.wpb_vc_wp_widget img {
max-width: 100%;
}

/*--------------------------------------------------------------
Visual Composer Icon Selection Option
--------------------------------------------------------------*/

.gp-icon-link {
display: block;
float: left;
margin: 0 2px 2px 0;
padding: 5px 2px;
width: 23px;
border: 1px solid #eee;
background: #f8f8f8 !important;
color: #000 !important;
text-align: center;
}
.gp-icon-link.gp-selected {
border: 1px solid #d54e21;
color: #d54e21 !important;
}

/*--------------------------------------------------------------
Theme Options
--------------------------------------------------------------*/

.gp-new-option {
padding: 1px 5px !important;
color: #C09853 !important;
background: #FCF8E3 !important;
display: inline !important;
font-weight: bold !important;
border: 1px solid #E7E7E7 !important;
border-radius: 3px !important;
font-size: 12px !important;
text-transform: uppercase !important;
}

/*--------------------------------------------------------------
Tag boxes
--------------------------------------------------------------*/

div[id*="tagsdiv-"] {
display: none;
}
#tagsdiv-post_tag {
display: block !important;
}

/*--------------------------------------------------------------
Auto hub creation form
--------------------------------------------------------------*/

.gp-auto-hub-form {
margin: 5px 0 15px;
padding: 1px 12px;
border: 1px solid #CCC;
background-color: #F8F8F8;
box-shadow: none;
}
.gp-auto-hub-form .gp-hub-form-option {
margin-bottom: 15px;
}
.gp-auto-hub-form .gp-hub-form-title {
float: left;
margin: 4px 5px 0 0;
font-weight: bold;
}
.gp-auto-hub-form .gp-hub-form-title-alt {
float: left;
margin: 0 5px 0 0;
font-weight: bold;
}
.gp-auto-hub-form .gp-hub-form-desc {
margin-top: 3px;
font-style: italic;
}
.gp-auto-hub-form input[type=checkbox] {
margin: -1px 10px 0 3px;
}
.gp-auto-hub-form .gp-hub-form-button {
margin: 25px 0 10px 0;
}

/*--------------------------------------------------------------
Demo Data Importer
--------------------------------------------------------------*/

.radium-importer-message {
display: none;
}

/*--------------------------------------------------------------
Button Display
--------------------------------------------------------------*/

/*REMOVED since v4.8
.wpb_button .wpb_element_title {
display: none;
}
.wpb_button .wpb_vc_param_value {
display: inline-block;
padding: 14px 20px;
width: auto;
border-radius: 3px;
background: #bbb;
color: #fff;
vertical-align: middle;
text-align: center;
font-weight: lighter;
font-size: 14px;
line-height: 130%;
cursor: pointer;
}
*/
