/*--------------------------------------------------------------------------------------

1 - BuddyPress

--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------
BuddyPress Buttons/Forms
--------------------------------------------------------------*/

.gp-theme #buddypress .dir-search input[type=search],
.gp-theme #buddypress .dir-search input[type=text],
.gp-theme #buddypress .groups-members-search input[type=search],
.gp-theme #buddypress .groups-members-search input[type=text],
.gp-theme #buddypress .standard-form input[type=color],
.gp-theme #buddypress .standard-form input[type=date],
.gp-theme #buddypress .standard-form input[type=datetime-local],
.gp-theme #buddypress .standard-form input[type=datetime],
.gp-theme #buddypress .standard-form input[type=email],
.gp-theme #buddypress .standard-form input[type=month],
.gp-theme #buddypress .standard-form input[type=number],
.gp-theme #buddypress .standard-form input[type=password],
.gp-theme #buddypress .standard-form input[type=range],
.gp-theme #buddypress .standard-form input[type=search],
.gp-theme #buddypress .standard-form input[type=tel],
.gp-theme #buddypress .standard-form input[type=text],
.gp-theme #buddypress .standard-form input[type=time],
.gp-theme #buddypress .standard-form input[type=url],
.gp-theme #buddypress .standard-form input[type=week],
.gp-theme #buddypress .standard-form select,
.gp-theme #buddypress .standard-form textarea {
padding: 8px;
}
.gp-theme #buddypress .comment-reply-link,
.gp-theme #buddypress a.button,
.gp-theme #buddypress button,
.gp-theme #buddypress div.generic-button a,
.gp-theme #buddypress input[type=button],
.gp-theme #buddypress input[type=reset],
.gp-theme #buddypress input[type=submit],
.gp-theme #buddypress ul.button-nav li a,
.gp-theme a.bp-title-button {
border: 0;
}
.gp-theme #buddypress .comment-reply-link:hover,
.gp-theme #buddypress a.button:hover,
.gp-theme #buddypress button:hover,
.gp-theme #buddypress div.generic-button a:hover,
.gp-theme #buddypress input[type=button]:hover,
.gp-theme #buddypress input[type=reset]:hover,
.gp-theme #buddypress input[type=submit]:hover,
.gp-theme #buddypress ul.button-nav li a:hover,
.gp-theme a.bp-title-button:hover {
border: 0;
}
.gp-theme #buddypress .standard-form select {
font-size: 14px;
font-weight: 300;
padding: 10px 40px 10px 10px;
max-width: 100%;
line-height: 15px;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAANCAQAAAAUexYcAAAASUlEQVR4AWP4/5+BbDCqGVl8+39fMO39fzvpmg/8f/tf/r/M/zf/D5OuWfb/6//H/x8CapYjw8//Pf//A0IvMgPsf9v/1mEYzwDBJjyjeGm16AAAAABJRU5ErkJggg==);
background-position: center right;
background-repeat: no-repeat;
-webkit-appearance: none;
border-radius: 4px;
border: 0;
white-space: nowrap;
}
.gp-theme #buddypress .standard-form label,
.gp-theme #buddypress .standard-form span.label {
font-weight: 500;
}

/*--------------------------------------------------------------
BuddyPress Page Header
--------------------------------------------------------------*/

.gp-theme #buddypress div#item-header {
margin-bottom: 20px;
}
.gp-theme #buddypress div#item-header #item-header-cover-image #item-header-content,
.gp-theme #buddypress div#item-header #item-header-cover-image #item-actions {
max-width: 46% !important;
}
.gp-theme #buddypress div#item-header #item-header-avatar img.avatar {
border-radius: 100%;
}
.gp-theme #buddypress div#item-header div#item-meta {
font-size: 14px;
line-height: 22px;
}
.gp-theme #buddypress div#item-header ul {
margin-left: 0;
}
.gp-theme #buddypress div#item-header div#item-actions h3 {
font-size: 12px;
line-height: 12px;
text-transform: uppercase;
font-weight: 500;
}
.gp-theme #buddypress div#item-header .generic-button a {
display: block;
line-height: 1;
}
.gp-theme #buddypress div.dir-search {
position: relative;
margin-top: -83px;
}
.gp-theme #buddypress div.dir-search input[type=text],
.gp-theme #buddypress li.groups-members-search input[type=text],
.gp-theme #buddypress div.item-list-tabs#subnav .message-search input[type=text] {
background: transparent;
padding: 8px 95px 8px 8px;
margin: 0;
border-radius: 4px;
border-radius: 4px;
}
.gp-theme #buddypress div.dir-search input[type=submit],
.gp-theme #buddypress li.groups-members-search input[type=submit],
.gp-theme #buddypress div.item-list-tabs#subnav .message-search input[type=submit] {
position: absolute;
top: 0;
right: 0;
padding: 15px;
height: 100%;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}

/*--------------------------------------------------------------
BuddyPress Primary Tabs
--------------------------------------------------------------*/

.gp-theme #buddypress div.item-list-tabs {
margin: 0;
padding: 10px 0;
}
.gp-theme #buddypress div.item-list-tabs ul li {
display: inline-block;
}
.gp-theme #buddypress div.item-list-tabs ul li a,
.gp-theme #buddypress div.item-list-tabs ul li span {
padding: 0 15px;
font-size: 14px;
font-weight: 400;
}
.gp-theme #buddypress div.item-list-tabs ul li.current a,
.gp-theme #buddypress div.item-list-tabs ul li.selected a,
.gp-theme #buddypress div.item-list-tabs ul li a:hover {
background: transparent;
opacity: 1;
font-weight: 400;
}
.gp-theme #buddypress div.item-list-tabs ul li a span {
border: 0;
font-size: 10px;
padding: 3px 6px;
border-radius: 4px;
}
.gp-theme #buddypress #gp-bp-tabs-button {
display: none;
padding: 0 15px;
font-size: 14px;
font-weight: 400;
font-family: 'FontAwesome';
cursor: pointer;
}
.gp-theme #buddypress #gp-bp-tabs-button:before {
content: '\f0c9';
}
.gp-theme #buddypress div.item-list-tabs ul li.loading a {
-webkit-animation:loader-pulsate .5s infinite ease-in-out alternate;
-moz-animation:loader-pulsate .5s infinite ease-in-out alternate;
}
@-webkit-keyframes loader-pulsate {
	from{
	border-color:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	opacity: 1;
	}
	to{
	border-color:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	opacity: 0.8;
	}
}
@-moz-keyframes loader-pulsate {
	from{
	border-color:none;
	-moz-box-shadow:none;
	box-shadow:none;
	opacity: 1;
	}
	to{
	border-color:none;
	-moz-box-shadow:none;
	box-shadow:none;
	opacity: 0.8;
	}
}

/*--------------------------------------------------------------
BuddyPress Sub Navigation
--------------------------------------------------------------*/

.gp-theme #buddypress div.item-list-tabs#subnav {
margin: 0 0 30px 0;
padding: 0;
}
.gp-theme #buddypress div.item-list-tabs#subnav ul {
overflow: hidden;
}
.gp-theme #buddypress div.item-list-tabs#subnav ul li {
padding: 10px 0;
}
.gp-theme #buddypress div.item-list-tabs#subnav ul li a {
font-size: 13px;
line-height: 23px;
}
.gp-theme #buddypress div.item-list-tabs#subnav ul li a span {
margin-left: 4px;
}
.gp-theme #buddypress div.item-list-tabs#subnav li.groups-members-search form,
.gp-theme #buddypress div.item-list-tabs#subnav .message-search form {
position: relative;
}
.gp-theme #buddypress div.item-list-tabs#subnav li.groups-members-search input,
.gp-theme #buddypress div.item-list-tabs#subnav .message-search input {
height: 43px;
border: 0;
}
.gp-theme #buddypress div.item-list-tabs#subnav li.groups-members-search input[type=submit],
.gp-theme #buddypress div.item-list-tabs#subnav .message-search input[type=submit] {
padding: 13px;
font-size: 16px;
}
.gp-theme #buddypress div.item-list-tabs#subnav ul li.last {
margin: 0 15px;
padding: 7px 0;
}
.gp-theme #buddypress div.item-list-tabs#subnav ul li.last label {
font-size: 13px;
line-height: 1;
font-weight: 500;
text-transform: uppercase;
}
.gp-theme #buddypress div.item-list-tabs ul li.last select {
border: 0;
font-size: 13px;
line-height: 1;
font-weight: 400;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 8px;
}

/*--------------------------------------------------------------
BuddyPress General Page
--------------------------------------------------------------*/

.gp-theme #buddypress .item-body {
margin: 40px 0;
}

/*--------------------------------------------------------------
BuddyPress Activity Page
--------------------------------------------------------------*/

.gp-theme #buddypress form#whats-new-form p.activity-greeting {
line-height: 20px;
}
.gp-theme #buddypress form#whats-new-form #whats-new-content {
padding-bottom: 30px !important;
}
.gp-theme #buddypress form#whats-new-form textarea {
width: 100%;
padding: 8px;
}
.gp-theme #buddypress #whats-new-post-in-box {
font-size: 14px;
}
.gp-theme #buddypress form#whats-new-form #whats-new-options select {
font-size: 14px;
margin-left: 10px;
padding: 5px 20px 5px 5px;
}
.gp-theme #whats-new-submit #aw-whats-new-submit {
font-size: small;
line-height: 1;
padding: 8px 10px;
}
.gp-theme #buddypress > ul.item-list > li img.avatar {
width: 48px;
height: 48px;
}
.gp-theme #buddypress ul.item-list li div.item-title,
.gp-theme #buddypress ul.item-list li h4 {
font-weight: 500;
font-size: 14px;
line-height: 19px;
width: 60%;
}
.gp-theme #buddypress div.item-meta {
line-height: 1;
opacity: 1;
margin-top: 2.5px;
}
.gp-theme #buddypress span.activity {
font-size: 11px;
opacity: 1;
}

/*--------------------------------------------------------------
BuddyPress Groups Page
--------------------------------------------------------------*/

/* Pagination ************************************/

.gp-theme #buddypress div.pagination .pag-count {
margin-left: 0;
}
.gp-theme #buddypress div.pagination#pag-top {
padding-top: 0;
}

/* List ************************************/

.gp-theme #buddypress #groups-list.item-list li {
float: left;
margin-right: 2%;
border: 0;
}
.gp-theme #buddypress #groups-list.item-list li .gp-group-box,
.gp-theme #buddypress #groups-list.item-list li .gp-group-box {
width: 210px;
margin: 0 auto;
}
.gp-theme.gp-no-sidebar #buddypress #groups-list.item-list li,
.gp-theme.gp-fullwidth #buddypress #groups-list.item-list li {
width: 18.4%;
}
.gp-theme.gp-no-sidebar #buddypress #groups-list.item-list li:nth-of-type(5n),
.gp-theme.gp-fullwidth #buddypress #groups-list.item-list li:nth-of-type(5n) {
margin-right: 0;
}
.gp-theme.gp-no-sidebar #buddypress #groups-list.item-list li:nth-of-type(5n+1),
.gp-theme.gp-fullwidth #buddypress #groups-list.item-list li:nth-of-type(5n+1) {
clear: left;
}   
.gp-theme.gp-left-sidebar #buddypress #groups-list.item-list li,
.gp-theme.gp-right-sidebar #buddypress #groups-list.item-list li {
width: 48%;
}
.gp-theme.gp-left-sidebar #buddypress #groups-list.item-list li:nth-of-type(2n),
.gp-theme.gp-right-sidebar #buddypress #groups-list.item-list li:nth-of-type(2n) {
margin-right: 0;
}
.gp-left-sidebar #buddypress #groups-list.item-list li:nth-of-type(2n+1),
.gp-right-sidebar #buddypress #groups-list.item-list li:nth-of-type(2n+1) {
clear: left;
}		
.gp-theme #buddypress #groups-list.item-list li .item-avatar {
position: relative;
overflow: hidden;
width: 100%;
margin: 0 0 20px 0;
}
.gp-theme #buddypress #groups-list.item-list li img.avatar {
width: 210px;
height: 210px;
}
.gp-theme #buddypress #groups-list.item-list li div.item-title {
width: 100%;
}
.gp-theme #buddypress #groups-list.item-list li div.item-title a:hover {
text-decoration: underline;
}
.gp-theme #buddypress #groups-list.item-list li .meta {
font-size: 11px;
margin-top: 0;
}
.gp-theme #buddypress #groups-list.item-list li div.action {
top: auto;
bottom: 10px;
right: 10px;
}
.gp-theme #groups-list .item-avatar .group-button {
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
white-space: nowrap;
}
    
/* Create group ************************************/

.gp-theme.gp-responsive #buddypress #group-create-body .left-menu img {
margin-bottom: 20px;
}
.gp-theme #buddypress form.standard-form .main-column {
margin-left: 230px;
}
.gp-theme #buddypress div.bp-avatar-nav {
margin-top: 30px;
}
.gp-theme #buddypress #drag-drop-area {
border-width: 2px;
}

/* Invite list ************************************/

.gp-theme #buddypress div#invite-list {
padding: 20px;
width: 230px;
}
.gp-theme.group-invites #buddypress form.standard-form .main-column {
margin-left: 250px;
}

/* Single group ************************************/

.gp-theme #buddypress div#item-header .gp-entry-header {
margin: 0;
width: 75%;
}
.gp-theme #buddypress div#item-header .gp-entry-title {
font-size: 30px;
line-height: 40px;
}

/* Members Tab ************************************/

.gp-theme #buddypress ul.item-list h5 {
margin: 0;
font-weight: 500;
font-size: 14px;
line-height: 19px;
}

/*--------------------------------------------------------------
BuddyPress Members Page
--------------------------------------------------------------*/

/* List ************************************/

.gp-theme #buddypress #members-dir-list .item-list .item,
.gp-theme #buddypress .friends .item-list .item,
.gp-theme #buddypress ul.item-list li div.action {
margin-left: 78px;
}

/*REMOVED since v5.0
.gp-theme #buddypress ul.item-list li div.action {
float: none;
margin-top: 10px;
}
*/

/* Profile page ************************************/

.gp-theme .bp_members .gp-entry-header {
display: none;
}
.gp-theme #buddypress #profile-edit-form ul.button-nav {
margin-left: 0;
}

/* Notifications/Messages ************************************/

.gp-theme #buddypress div.message-search {
margin: 20px 30px 0 0;
}
.gp-theme #buddypress div#message-thread img.avatar {
margin-right: 20px;
}
.gp-theme #buddypress div#message-thread div.message-content {
margin-left: 50px;
}
.gp-theme #buddypress .notifications-options-nav,
.gp-theme #buddypress .messages-options-nav {
margin-top: 20px;
}
.gp-theme #buddypress table#message-threads tr.unread td {
font-weight: 300;
}
.gp-theme #buddypress #message-threads img.avatar {
margin: 0 5px 0 0;
float: left;
} 
.gp-theme #message-threads .thread-from {
font-size: 14px;
line-height: 20px;
}
.gp-theme #buddypress #message-threads .thread-info p {
font-size: 14px;
line-height: 20px;
}
.gp-theme #buddypress td.thread-options {
font-size: 13px;
}
.gp-theme ul.acfb-holder li {
float: none;
}
.gp-theme #buddypress input#send-to-input {
clear: both;
width: 275px;
}
.gp-theme  #buddypress table.notifications {
font-size: 13px;
}

/* Friends List  ************************************/

.gp-theme #buddypress #friend-list li {
overflow: auto;
}

/* Individual member activity  ************************************/

.gp-theme.activity-permalink #buddypress .activity-list .activity-content,
.gp-theme.activity-permalink #buddypress .activity-list .activity-comments {
margin-left: 230px;
}
.gp-theme.activity-permalink #buddypress div.activity-comments ul li {
padding: 15px 0;
}

/*--------------------------------------------------------------
BuddyPress Activity
--------------------------------------------------------------*/

/* List  ************************************/

.gp-theme #buddypress .activity-list #activity-stream {
margin-top: -20px;
}
.gp-theme #buddypress .activity-list ul.item-list {
border: 0;
}
.gp-theme #buddypress ul.item-list {
border: 0;
}
.gp-theme #buddypress ul.item-list li {
border-top-width: 0 !important;
padding: 15px 0;
}
.gp-theme #buddypress ul.item-list li img.avatar {
margin-right: 15px;
}
.gp-theme #buddypress .activity-list .activity-content {
margin-left: 80px;
}
.gp-theme #buddypress .activity-list .activity-content blockquote,
.gp-theme #buddypress .activity-list .activity-content blockquote a {
font-size: 13px;
line-height: 20px;
padding: 0;
background: none;
font-style: italic;
color: inherit;
margin: 0;
}
.gp-theme #buddypress .activity-list .activity-content blockquote:before {
content: '';
}
.gp-theme #buddypress .activity-read-more {
margin: 0;
}

/* Activity header  ************************************/

.gp-theme #buddypress .activity-list .activity-content .activity-header,
.gp-theme #buddypress .activity-list .activity-content .comment-header {
font-size: 13px;
line-height: 20px;
}
.gp-theme #buddypress #activity-stream .activity-content .activity-header p {
margin: 0;
}
.gp-theme #buddypress .activity-list .activity-header a {
font-weight: 500;
}
.gp-theme #buddypress .activity-list .activity-header a:hover {
text-decoration: underline;
}
.gp-theme #buddypress .activity-list a.activity-time-since {
font-size: 11px;
font-weight: 300;
display: block;
}

/* Activity avatar ************************************/

.gp-theme #buddypress .activity-list .activity-content .activity-header img.avatar {
display: none;
}
.gp-theme #buddypress .activity-list ul.item-list li img.avatar {
border-radius: 0;
width: 48px;
height: 48px;
}

/* Activity content ************************************/

.gp-theme #buddypress .activity-list .activity-content .activity-inner {
font-size: 13px;
line-height: 20px;
margin-top: 0;
}

/* Activity buttons  ************************************/

.gp-theme #buddypress .activity-list div.activity-meta {
line-height: 1;
margin-top: 6.5px;
}
.gp-theme .gp-comments-disabled .acomment-reply {
display: none;
}
.gp-theme #buddypress .activity-list.comments-disabled .activity-meta,
.gp-theme #buddypress .activity-list.comments-disabled .activity-comments {
display: none;
}
.gp-theme #buddypress div.activity-meta a.button {
position: relative;
border: 0;
padding: 0;
font-size: 12px;
margin-right: 10px;
background: transparent;
text-transform: uppercase;
}
.gp-theme #buddypress div.activity-meta a.button:hover  {
background: transparent;
}
.gp-theme #buddypress .activity-list #reply-title small a span,
.gp-theme #buddypress .activity-list a.bp-primary-action span {
font-size: 10px;
margin-left: 0;
padding: 2px 5px 2px 5px;
position: relative;
top: -1px;
right: 0;
border-radius: 4px;
}

/* Comment reply form ************************************/

.gp-theme #buddypress .activity-list div.ac-reply-avatar img {
border: 0;
}
.gp-theme #buddypress .activity-list .ac-reply-cancel {
text-transform: uppercase;
font-size: 11px;
font-weight: 400;
}
  
/* Comment replies ************************************/

.gp-theme #buddypress .activity-list div.activity-comments > ul {
padding: 0;
}
/* NEW - Since 1.3 */
/*.gp-theme #buddypress .activity-list div.activity-comments ul li {
float: left;
}*/
.gp-theme #buddypress .activity-list div.activity-comments ul li:first-child {
margin-top: 15px;
border-top-width: 1px !important;
}
.gp-theme #buddypress .activity-list div.activity-comments ul li:last-child {
padding-bottom: 0;
border-bottom: 0;
}
/* NEW - Since 1.3 */
.gp-theme #buddypress div.activity-comments ul li > ul {
overflow: hidden;
}
.gp-theme #buddypress .activity-list div.activity-comments div.acomment-meta {
font-size: 13px;
line-height: 20px;
}
.gp-theme #buddypress .activity-list .acomment-meta a {
font-weight: 500;
}
.gp-theme #buddypress .activity-list .acomment-meta a.activity-time-since {
font-size: 11px;
font-weight: 300;
}
.gp-theme #buddypress .activity-list div.activity-comments div.acomment-content {
font-size: 13px;
line-height: 20px;
margin: 10px 0 0 40px;
}
.gp-theme #buddypress .activity-list .acomment-options {
margin: 5px 0 0 40px;
line-height: 1;
}
.gp-theme #buddypress .activity .acomment-options a {
text-transform: uppercase;
font-weight: 400;
}
.gp-theme #buddypress div.activity-comments {
margin-left: 80px;
}
.gp-theme #buddypress div.activity-comments form.ac-form,
.gp-theme #buddypress div.activity-comments li form.ac-form {
margin-right: 0;
padding-left: 0;
padding-right: 0;
}
.gp-theme #buddypress div.activity-comments form div.ac-reply-content {
margin-left: 58px;
padding-left: 10px;
}

/* Load more button ************************************/

.gp-theme #buddypress .activity-list li.load-more,
.gp-theme #buddypress .activity-list li.load-newest {
padding: 0;
margin: 15px 0 0 0;
background: transparent;
border-bottom: 0;
}
.gp-theme #buddypress .activity-list li.load-more a,
.gp-theme #buddypress .activity-list li.load-newest a {
text-transform: uppercase;
font-weight: 400;
font-size: 13px;
}
.gp-theme #buddypress .activity-list li.load-more.loading:after {
position: absolute;
left: auto;
top: auto;
margin-left: 5px;
-webkit-animation: load-more-pulsate .5s infinite ease-in-out alternate;
-moz-animation: load-more-pulsate .5s infinite ease-in-out alternate;
content: '\f141';
font-family: 'FontAwesome';
opacity: 0;
}
@-webkit-keyframes load-more-pulsate {
from {opacity: 0;}
to {opacity: 0.4}
}
@-moz-keyframes load-more-pulsate {
from {opacity: 0;}
to {opacity: 0.4}
}

/*--------------------------------------------------------------
BuddyPress global search plugin
--------------------------------------------------------------*/

.gp-theme #buddypress .bboss_search_form_wrapper button {
padding: 15px;
font-size: 18px;
}
.gp-theme #buddypress .bboss_search_page div.item-list-tabs ul li a span {
margin-left: 7px;
}
.gp-theme #buddypress .bboss_search_page .search_results {
margin-top: 20px;
}
.gp-theme #buddypress div.search_results h2.results-group-title {
font-size: 24px;
line-height: 1;
border-bottom: 1px solid #DDD;
padding-bottom: 10px;
margin-bottom: 20px;
}
.gp-theme #buddypress ul.item-list li.bboss_search_item_post {
padding: 0;
margin: 0 0 30px 0;
border: 0;
}
.gp-theme #buddypress .bboss_search_item_post .entry-title {
line-height: 25px;
font-weight: 400;
font-size: 20px;
}
.gp-theme .bb-global-search-ac.ui-autocomplete {
z-index: 8999;
box-shadow: none;
border-top-width: 0;
}
.gp-theme .bb-global-search-ac .loading-msg span {
display: none;
}
.gp-theme .bb-global-search-ac li.bbls-category,
.gp-theme .bb-global-search-ac li.bbls-category a {
font-weight: 500;
}

/*--------------------------------------------------------------
BuddyPress rtMedia plugin
--------------------------------------------------------------*/

.gp-theme .rtmedia-gallery-item-actions a:hover {
color: #fff;
}
.gp-theme .rtmedia-actions-before-comments .rtmedia-comment-link,
.gp-theme #buddypress .rtmedia-actions-before-comments .rtmedia-like,
.gp-theme .rtmedia-actions-before-comments .rtmedia-comment-link:hover,
.gp-theme #buddypress .rtmedia-actions-before-comments .rtmedia-like:hover {
background-color: transparent;
color: #000;
}


/*--------------------------------------------------------------------------------------

2 - Widgets

--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------
BuddyPress Groups/Members/Friends Widgets
--------------------------------------------------------------*/

/* Filter Options ************************************/

.gp-theme .widget.buddypress div.item-options {
position: absolute;
top: 11px;
right: 5px;
padding: 0;
margin: 0;
}
.gp-theme .widget.buddypress div.item-options a {
font-size: 12px;
text-transform: uppercase;
font-weight: 400;
padding: 0 15px;
}
.gp-theme .widget.buddypress div.item-options a:hover {
text-decoration: underline;
}
.gp-theme .widget.buddypress div.item-options .bp-separator {
display: none;
}

/* List items ************************************/

.gp-theme .widget.buddypress #friends-list li,
.gp-theme .widget.buddypress #groups-list li,
.gp-theme .widget.buddypress #members-list li {
margin: 0 0 10px;
padding: 0 0 10px 0;
border-top-width: 0 !important;
}
.gp-theme .widget.buddypress #friends-list li:last-child,
.gp-theme .widget.buddypress #groups-list li:last-child,
.gp-theme .widget.buddypress #members-list li:last-child {
margin: 0;
padding: 0;
border: 0;
}

/* Item Options ************************************/

.gp-theme .widget.buddypress div.item-options .gp-item-options-button:before {
position: absolute;
top: 0;
right: 20px;
font-family: 'FontAwesome';
content: '\f0c9';
font-size: 18px;
cursor: pointer;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.gp-theme .widget.buddypress div.item-options.gp-small-item-options {
padding-top: 36px;
right: 0;
}
.gp-theme .widget.buddypress div.item-options.gp-small-item-options > a {
display: none;
line-height: 1;
padding: 10px 15px;
margin-right: 20px;
}
.gp-theme .widget.buddypress div.item-options.gp-small-item-options.gp-active a {
display: block;
}

/* Item headers ************************************/

.gp-theme .widget.buddypress .item-title {
font-weight: 500;
font-size: 14px;
line-height: 19px;
}
.gp-theme .widget.buddypress .item-title a:hover {
text-decoration: underline;
}

/* Item Avatars ************************************/

.gp-theme .widget.buddypress ul.item-list img.avatar {
margin: 0 20px 0 0;
width: 48px;
height: 48px;
}

/* Item Content ************************************/

.gp-theme .widget.buddypress div.item {
margin-bottom: 0;
}

/* Item meta ************************************/

.gp-theme .widget.buddypress div.item-meta {
line-height: 1;
opacity: 1;
margin-top: 2.5px;
margin-left: 68px;
}
.gp-theme .widget.buddypress span.activity {
font-size: 11px;
opacity: 1;
}

/*--------------------------------------------------------------
BuddyPress Recently Active Members/Who's Online Widgets
--------------------------------------------------------------*/

.gp-theme .widget.buddypress.widget_bp_core_recently_active_widget,
.gp-theme .widget.buddypresswidget_bp_core_whos_online_widget {
padding-bottom: 5px;
}
.gp-theme .widget.buddypress div.item-avatar img {
width: 60px;
height: 60px;
}
.gp-theme .widget.buddypress div.item-avatar:nth-of-type(4n) img {
margin-right: 0;
}


/*--------------------------------------------------------------------------------------

3 - Media Queries

--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------
Smaller desktops
--------------------------------------------------------------*/

@media only screen and (max-width: 1260px) {

	.gp-theme.gp-responsive.gp-no-sidebar #buddypress #groups-list.item-list li,
	.gp-theme.gp-responsive.gp-fullwidth #buddypress #groups-list.item-list li {
	width: 23.5%;
	}
	.gp-theme.gp-responsive.gp-no-sidebar #buddypress #groups-list.item-list li:nth-of-type(5n),
	.gp-theme.gp-responsive.gp-fullwidth #buddypress #groups-list.item-list li:nth-of-type(5n) {
	margin-right: 2%;
	}
	.gp-theme.gp-responsive.gp-no-sidebar #buddypress #groups-list.item-list li:nth-of-type(5n+1),
	.gp-theme.gp-responsive.gp-fullwidth #buddypress #groups-list.item-list li:nth-of-type(5n+1) {
	clear: none;
	}
	.gp-theme.gp-responsive.gp-no-sidebar #buddypress #groups-list.item-list li:nth-of-type(4n),
	.gp-theme.gp-responsive.gp-fullwidth #buddypress #groups-list.item-list li:nth-of-type(4n) {
	margin-right: 0;
	}
	.gp-theme.gp-responsive.gp-no-sidebar #buddypress #groups-list.item-list li:nth-of-type(4n+1),
	.gp-theme.gp-responsive.gp-fullwidth #buddypress #groups-list.item-list li:nth-of-type(4n+1) {
	clear: left;
	}
	.gp-theme .widget.buddypress div.item-avatar img {
	width: 55px;
	height: 55px;
	}

}

/*--------------------------------------------------------------
Tablet (landscape)
--------------------------------------------------------------*/

@media only screen and (max-width: 1082px) { 

	.gp-theme.gp-responsive.gp-no-sidebar #buddypress #groups-list.item-list li,
	.gp-theme.gp-responsive.gp-fullwidth #buddypress #groups-list.item-list li {
	width: 32%
	}
	.gp-theme.gp-responsive.gp-no-sidebar #buddypress #groups-list.item-list li:nth-of-type(4n),
	.gp-theme.gp-responsive.gp-fullwidth #buddypress #groups-list.item-list li:nth-of-type(4n) {
	margin-right: 2%;
	}
	.gp-theme.gp-responsive.gp-no-sidebar #buddypress #groups-list.item-list li:nth-of-type(4n+1),
	.gp-theme.gp-responsive.gp-fullwidth #buddypress #groups-list.item-list li:nth-of-type(4n+1) {
	clear: none;
	}
	.gp-theme.gp-responsive.gp-no-sidebar #buddypress #groups-list.item-list li:nth-of-type(3n),
	.gp-theme.gp-responsive.gp-fullwidth #buddypress #groups-list.item-list li:nth-of-type(3n) {
	margin-right: 0;
	}
	.gp-theme.gp-responsive.gp-no-sidebar #buddypress #groups-list.item-list li:nth-of-type(3n+1),
	.gp-theme.gp-responsive.gp-fullwidth #buddypress #groups-list.item-list li:nth-of-type(3n+1) {
	clear: left;
	}

}


/*--------------------------------------------------------------
Tablet (portrait)
--------------------------------------------------------------*/

@media only screen and (max-width: 1023px) {

	.gp-theme.gp-responsive #buddypress #groups-list.item-list li {
	width: 48% !important;
	}
	.gp-theme.gp-responsive #buddypress #groups-list.item-list li:nth-of-type(3n) {
	margin-right: 2% !important;
	}
	.gp-theme.gp-responsive #buddypress #groups-list.item-list li:nth-of-type(3n+1) {
	clear: none !important;
	}
	.gp-theme.gp-responsive #buddypress #groups-list.item-list li:nth-of-type(2n) {
	margin-right: 0 !important;
	}
	.gp-theme.gp-responsive #buddypress #groups-list.item-list li:nth-of-type(2n+1) {
	clear: left !important;
	}
	.gp-theme .widget.buddypress div.item-avatar img {
	width: 60px;
	height: 60px;
	}	
	.gp-theme .widget.buddypress div.item-avatar:nth-of-type(4n) img {
	margin-right: 15px;
	}

}


/*--------------------------------------------------------------
Small Tablet - 782 - 767px (BuddyPress division)
--------------------------------------------------------------*/

@media only screen and (max-width: 782px) {
	
	.gp-theme.gp-responsive #buddypress div#item-header #item-header-cover-image #item-header-content,
	.gp-theme.gp-responsive #buddypress div#item-header #item-header-cover-image #item-actions {
	max-width: none !important;
	}
	.gp-theme.gp-responsive .type-bp_members #buddypress .user-nicename {
	margin-top: 25px !important;
	}

}

	
/*--------------------------------------------------------------
Mobile (landscape)
--------------------------------------------------------------*/

@media only screen and (max-width: 767px) {

	.gp-theme.gp-responsive #buddypress div.item-list-tabs ul {
	padding: 0 15px;
	}
	.gp-theme.gp-responsive #buddypress div.item-list-tabs ul li a {
	padding: 0 7.5px;
	}
	.gp-theme.gp-responsive #buddypress div.item-list-tabs#subnav {
	margin: 0px 0 20px 0;
	}
	.gp-theme.gp-responsive #buddypress div.item-list-tabs#subnav ul {
	padding: 0 15px;
	}
	.gp-theme.gp-responsive #buddypress div#item-header .gp-entry-title {
	width: 100%;
	}
	.gp-theme.gp-responsive #buddypress div#item-header div#item-meta {
	width: 100%;
	}
	.gp-theme.gp-responsive #buddypress div#item-header div#item-actions {
	width: 100%;
	padding-left: 170px;
	}
	.gp-theme.gp-responsive #buddypress form#whats-new-form #whats-new-options {
	height: auto !important;
	}
	.gp-theme.gp-responsive #buddypress form#whats-new-form #whats-new-post-in-box {
	width: 100%;
	}
	.gp-theme.gp-responsive #buddypress form#whats-new-form #whats-new-submit {
	width: 100%;
	margin-bottom: 10px;
	}
	.gp-theme.gp-responsive #buddypress div.dir-search {
	position: relative;
	margin: 0 0 40px 0;
	float: left;
	text-align: left;
	width: 100%;
	}
	.gp-theme.gp-responsive #buddypress div.dir-search input[type=text] {
	width: 100%;
	}
	.gp-theme #buddypress ul.item-list li div.action {
	position: relative;
	top: 0;
    float: none;
    margin-top: 10px;
    text-align: left;
	}	
	.gp-theme.gp-responsive #buddypress form.standard-form .left-menu,
	.gp-theme.gp-responsive #buddypress div#invite-list {
	float: none;
	width: 100%;
	}
	.gp-theme.gp-responsive #buddypress form.standard-form .main-column {
	margin-left: 0;
	}
	.gp-theme.gp-responsive .rtmedia-plupload-container {
    margin-bottom: 10px;
	}
	
}
	
/*--------------------------------------------------------------
Mobile (portrait)
--------------------------------------------------------------*/

@media only screen and (max-width: 567px) {	

	.gp-theme.gp-responsive #buddypress div.item-list-tabs {
	margin: 0px -15px;
	}
	.gp-theme.gp-responsive #buddypress #gp-bp-tabs-button {
	display: block;
	padding: 0 15px;
	}
	.gp-theme.gp-responsive #buddypress div.item-list-tabs:not(#subnav) ul {
	display: none;
	padding: 0;
	overflow: hidden;
	}	
	.gp-theme.gp-responsive #buddypress div.item-list-tabs ul li {
	width: 100%;
	}
	.gp-theme.gp-responsive #buddypress div.item-list-tabs ul li a {
	padding: 5px 15px;
	}
	.gp-theme.gp-responsive #buddypress div.item-list-tabs ul li.last {
	float: left;
	}
	.gp-theme.gp-responsive #buddypress div.item-list-tabs#subnav {
	margin: 0px -15px 15px -15px;
	}
	.gp-theme.gp-responsive #buddypress div.item-list-tabs#subnav ul {
	padding: 5px 0;
	overflow: hidden;
	}
	.gp-theme.gp-responsive #buddypress div.item-list-tabs#subnav ul li {
	padding: 0;
	}
	.gp-theme #buddypress div.item-list-tabs#subnav ul li.last {
	padding: 0 15px 10px 15px;
	margin: 0;
	}
	.gp-theme.gp-responsive #buddypress div.item-list-tabs#subnav ul li.groups-members-search,
	.gp-theme.gp-responsive #buddypress div.item-list-tabs#subnav .message-search {
	padding: 15px 15px 0 15px;
	margin: 0;
	}	
	.gp-theme.gp-responsive #buddypress li.groups-members-search input[type=text],
	.gp-theme.gp-responsive #buddypress div.item-list-tabs#subnav .message-search input[type=text] {
	width: 100%;
	}
	.gp-theme #buddypress form#whats-new-form #whats-new-options select {
	margin: 0;
	}
	.gp-theme.gp-responsive.gp-homepage-1 #buddypress .activity-list .activity-content .activity-inner iframe {
	display: none;
	}
	.gp-theme.gp-responsive #buddypress div.activity-comments,
	.gp-theme.gp-responsive #buddypress div.activity-comments ul li > ul {
	margin-left: 0;
	padding-left: 0;
	}
	.gp-theme.gp-responsive #buddypress div.activity-comments ul {
	float: left;
	}
	.gp-theme.gp-responsive #buddypress #groups-list.item-list li {
	width: 100% !important;
	margin-right: 0 !important;
	}
	.gp-theme.gp-responsive #buddypress #groups-list.item-list li:nth-of-type(2n),
	.gp-theme.gp-responsive #buddypress #groups-list.item-list li:nth-of-type(5n) {
	margin-right: 0 !important;
	}
	.gp-theme.gp-responsive #buddypress #groups-list.item-list li:nth-of-type(2n+1),
	.gp-theme.gp-responsive #buddypress #groups-list.item-list li:nth-of-type(5n+1) {
	clear: left !important;
	}	
	.gp-theme.gp-responsive #buddypress #groups-list.item-list li .item {
	margin-left: 0;
	}
	.gp-theme.gp-responsive #buddypress #groups-list.item-list li .gp-group-box div.action {
	position: absolute;
	}
	.gp-theme.gp-responsive #buddypress #group-create-body .left-menu img {
	display: none;
	}
	.gp-theme.gp-responsive #buddypress div#item-header div#item-actions {
	position: relative;
	padding: 0;
	margin-bottom: 15px;
	float: left;
	text-align: left;
	}
	.gp-theme.gp-responsive #buddypress div#item-header ul li {
	float: left;
	}
	.gp-theme.gp-responsive #buddypress .standard-form #basic-details-section,
	.gp-theme.gp-responsive #buddypress .standard-form #blog-details-section,
	.gp-theme.gp-responsive #buddypress .standard-form #profile-details-section {
	width: 100%;
	}
	.gp-theme.gp-responsive.activity-permalink #buddypress .activity-list .activity-avatar {
	display: none;
	}
	.gp-theme.gp-responsive.activity-permalink #buddypress .activity-list .activity-content,
	.gp-theme.gp-responsive.activity-permalink #buddypress div.activity-comments {
	margin-left: 0;
	}
	.gp-theme.gp-responsive #message-threads thead tr,
	.gp-theme.gp-responsive table.notifications thead tr {
	display: none;
	}
	.gp-theme.gp-responsive #message-threads td,
	.gp-theme.gp-responsive table.notifications td {
	display: block;
	}
	.gp-theme.gp-responsive #buddypress table#message-threads tr.unread td {
	border-width: 0;
	}
	.gp-theme.gp-responsive #buddypress table#message-threads tr.unread td.thread-options {
	border-bottom-width: 2px;
	}

}